@using FirstWebApp.Models.Search
@model FirstWebApp.Models.Search.SearchViewModel

@{
    ViewData["Title"] = "Search";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(function () {
        $(".datepicker").datepicker();
    });
</script>


<div class="jumbotron">
    <div class=" text-center">
        
        <div style="">
            <p>PleaseDrive</p>
        </div>
    </div>
</div>

<div class="container" align="center">
    <form asp-action="SearchResult">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SelectedLocationId" class="control-label">Where do you want to pick</label>
                    <select asp-for="SelectedLocationId" class="form-control"  asp-items="@(new SelectList(@Model.PickUpLocations, "Id", "Title"))"></select>
                    <span asp-validation-for="SelectedLocationId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="FromTime" class="control-label">From</label>
                    <input asp-for="FromTime" class="form-control" />
                    <span asp-validation-for="FromTime" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="ToTime" class="control-label">To</label>
                    <!--<input asp-for="ToTime" class="form-control"/>-->
                    @Html.EditorFor(model => model.ToTime, new { htmlAttributes = new { @Value = DateTime.Now, @class = "form-control datepicker" } })
                    <span asp-validation-for="ToTime" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" name="sandbox-container">
                <input type="submit" value="Search" class="btn btn-default; btn-lg"/>
            </div>
        </div>
    </form>
</div>

